<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Blogs</title>
</head>
<body>
<a class="author-link"  href="/authors">
    &#8592 Back to authors
</a>
<h2 class="author-name">Blogs From {{ author_name }}</h2>
{% for blog in blogs %}
    <div class="blog-container">
        <h2 class="blog-title">{{ blog.title }}</h2>
      <h4> Created at:  {{ blog.created_at }}</h4>
        <p> {{ blog.content }} </p>
    </div>
{% endfor %}
</body>
</html>
